*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all .2s linear;
    
}
.top{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;  
    position: relative; 
    z-index: 0;
    top: 0;
}

.top .topimg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}


.swiper-slide img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
} 


.totpackages h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 400;
    color: var(--orange);
    margin: 15px;
}

.totpackages .box-container{
    display: flex;
    width: 100%;
    border-radius: 5px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
}

.totpackages .box-container .box{
    gap: 10px;
   height: 250px;
   min-width: 499px;
   max-width: 500px;
   margin:10px auto;
   display: flex;
   box-shadow: 0 1rem 2rem rgba(0 , 0 , 0 , 0.1);
   border-radius: 5px;
   
}

.totpackages .box-container .box:hover{
    gap: 10px;
   height: 250px;
   max-width: 500px;
   margin:10px auto;
   display: flex;
   box-shadow: 0 1rem 2rem rgba(1 , 1 , 1 , 0.3);
}


.totpackages .box-container .box img{
 display: block;
 max-width: 250px;
 object-fit: cover;
 /* margin-right: 10px; */
 border-top-left-radius:5px ;
 border-bottom-left-radius:5px ;
 
}

.totpackages .box-container .box .content{
  display: flex;
  flex-direction: column;
  padding: .7rem;   
  margin-bottom: 0;
  overflow: hidden;
}

.totpackages .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
}

.totpackages .box-container .box .content h3 i{
    color: var(--orange);
    margin-right: 1.5rem;
}



.totpackages .box-container .box .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 0.5rem 0;
}

.totpackages .box-container .box .button a{
    /* padding: 0; */
    /* height: 50px; */
    text-decoration: none;
    
}
.totpackages .box-container .box .stars{
    display: flex;
    font-size: 1.5rem;
    color: var(--orange);
}

.totpackages .box-container .box .stars1 {
    display: flex;
    font-size: 1.5rem;
    color: rgb(164, 107, 0);
    
}

.totpackages .box-container .box .stars1 i{
    margin: 3px;
    
}



.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }